{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="title-head py-5" style="background-color: #222831;">
	<div class="display-4 text-center text-light">LOGIN</div>
</div>
<div class="wrapper">
    <div class="container">
        {% if messages %}
				{% for message in messages %}
					{% if message.tags %}
					<div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-5 p-3" role="alert">
						<p class="h3 font-weight-bolder">{{message}}</p class="h3 font-weight-bolder"> 
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}
				{% endfor %}
			{% endif %}
    </div>

    <form class="form-signin" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading mb-3">Please login</h2>
        {{ form }}
        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Login</button>
		<input type="hidden" name="next_url" value="{{ next_url }}">
    </form>
</div>
{% endblock %}