{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="container">
        {% if messages %}
				{% for message in messages %}
					{% if message.tags %}
					<div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-5 p-3" role="alert">
						<p class="h3 font-weight-bolder">{{message}}</p class="h3 font-weight-bolder"> 
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}
				{% endfor %}
			{% endif %}
    </div>

    <form class="form-signin" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading mb-3">Please login</h2>
        <input type="text" class="form-control mb-3" name="username" placeholder="Email Address" required=""
            autofocus="" />
        <input type="password" class="form-control mb-3" name="password" placeholder="Password" required="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        {{error}}
    </form>
</div>
{% endblock %}