{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="title-head py-5" style="background-color: #222831;">
	<div class="display-4 text-center text-light">WEB KHONG PRAME</div>
</div>
<div class="container mt-5 mb-5">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">มาย</th>
            <th scope="col">แพรว</th>
            <th scope="col">พลอย</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>lorem</td>
            <td>lorem</td>
            <td>lorem</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}