{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center">
	<div class="blog-borrow mt-5 mb-5">
		<div class="card bg-light rounded">
			<div class="card-header border-0 text-center">
				<h4>Return confirmation</h4>
			</div>
			<div class="card-body">
				<div class="card mb-5 bg-white border-0">
					<div class="card-header border-0">
						<h5 class="ml-3">Return - Book</h5>
						<hr>
						{% if checkpay == 1 %}
							
							<div class="card-body">
								<p class="card-title text-left mr-4 text-muted">RATE<label
									class="float-right text-muted">{{ rate_date }}</label></p>
							{% for rs in result %}	
								<p class="card-title text-left mr-4 text-muted">FINE<label
									class="float-right text-muted">{{  rs.charg  }}</label></p>
							</div>
							<div class="card-footer">
								<p class="card-title text-left mr-4 text-dark">Total<label
									class="float-right text-muted">{{  rs.charg }} THB</label></p>
							</div>
							{% endfor %}
						<br>
						<p class="card-title text-center mt-5 text-muted">Thank you for using Auto-Library!</p>
						{% else %}
							<div class="card-body">
								<p class="card-title text-left mr-4 text-muted">RATE<label
									class="float-right text-muted">{{ rate }}</label></p>
								<p class="card-title text-left mr-4 text-muted">FINE<label
									class="float-right text-muted">{{ postreturn.charg }}</label></p>
							</div>
							<div class="card-footer">
								<p class="card-title text-left mr-4 text-dark">Total<label
									class="float-right text-muted">{{ postreturn.charg }} THB</label></p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}