{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="title-head py-5" style="background-color: #222831;">
	<div class="display-4 text-center text-light">PAYMENT COMPLETE</div>
</div>
<div class="d-flex justify-content-center">
	<div class="blog-borrow mt-5 mb-5">
		<div class="card bg-light rounded">
			<div class="card-header border-0 text-center">
				<h4>Return confirmation</h4>
			</div>
			<div class="card-body">
				<div class="card mb-5 bg-white border-0">
					<div class="card-header border-0">
						{% if paycheck == 1 %}
						{% for cl in calculatefine %}
						<h5 class="ml-3">Return - Book ----> {{cl.name_book}}</h5>
						<hr>													
							<div class="card-body">
								<p class="card-title text-left mr-4 text-muted">RATE  {{ rate }} Days<label
									class="float-right text-muted"></label></p>
								<p class="card-title text-left mr-4 text-muted">FINE {{ cl.charg }} <label
									class="float-right text-muted"></label></p>
							</div>
							<div class="card-footer">
								<p class="card-title text-left mr-4 text-dark">Total<label
									class="float-right text-muted">{{ cl.charg }} THB</label></p>
							</div>
						{% endfor %}
						
						{% else %}
							{% for ch in result %}
							<h5 class="ml-3">Return - Book ----> {{ch.name_book}}</h5>
							<hr>
							<div class="card-body">
								<p class="card-title text-left mr-4 text-muted">RATE  {{ rate_date }} Days<label
									class="float-right text-muted"></label></p>
								<p class="card-title text-left mr-4 text-muted">FINE {{ ch.charg }} <label
									class="float-right text-muted"></label></p>							
							</div>
							<div class="card-footer">
								<p class="card-title text-left mr-4 text-dark">Total<label
									class="float-right text-muted">  {{ ch.charg }} THB</label></p>
							</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}